$text-color1: #37434E;
$text-color2: #4D5B67;
$primary-color: #8276ff;
$white-color: #fff;
$information: rgba(99, 133, 253, 0.7);
$text-yellow: #FFBE5B;
$features: #E5E5E5;
$track-billable-005: rgba(130, 118, 255, 0.05);
$track-billable-05: rgba(130, 118, 255, 0.5);
$track-billable-004: rgba(130, 118, 255, 0.04);
$financial-1: rgba(130, 118, 255, 1);
$financial-2: rgba(255, 181, 70, 1);
$financial-3: rgba(99, 133, 253, 1);
$financial-4: rgba(51, 219, 168, 1);
$financial-5: rgba(253, 119, 159, 1);