@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,regular,600,700);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro";
  font-size: 16px;
  color: #4D5B67;
}

/*---------------------------------------*/
.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

/*--------------------------------------*/
[class*="__container"] {
  max-width: 1350px;
  margin: 0px auto;
  padding: 0px 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 64px;
}

/*Header block style start*/
.header {
  position: fixed;
  width: 100%;
  background: #fff;
}

.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13.5px 15px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav .nav__list .nav__item {
  margin: 0 0 0 33px;
}

.header .nav .nav__list .nav__item:first-child {
  margin-right: 0;
}

.header .nav .nav__list .nav__item .nav__link {
  color: #37434E;
  font-size: 18px;
  line-height: 23px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .nav .nav__list .nav__item .nav__link:hover {
  color: #8276ff;
}

.header .nav .nav__list .nav__item .nav__link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 3px;
  background: #8276ff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .nav .nav__list .nav__item .nav__link:hover::after {
  width: 100%;
}

.header .header__button {
  margin: -6px 0px 0px 42px;
}

.header .header__button .header__btn {
  display: block;
  font-size: 18px;
  line-height: 23px;
  border: 1px solid #8276ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 131px;
  padding: 8.5px 44px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #37434E;
}

.header .header__button .header__btn:hover {
  color: #fff;
  background: #8276ff;
}

.header .header-mob__btn {
  display: none;
}

.header .header-mob__btn .mob-button {
  font-size: 26px;
  cursor: pointer;
  background: none;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100.98px) {
  .header {
    position: fixed;
    width: 100%;
  }
  .header .header__container {
    padding: 22px 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-logo {
    z-index: 1000;
  }
  .header .nav .nav__list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0px 15px 0px 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
    gap: 35px;
  }
  .header .nav .nav__list.active {
    left: 0;
  }
  .header .nav .nav__list.active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #fff;
  }
  .header .nav .nav__list .nav__item {
    margin: 0px 0px 0px 0px;
  }
  .header .nav .nav__list .nav__item .nav__link {
    font-size: 35px;
  }
  .header .header__button {
    z-index: 1000;
    margin-right: 25px;
  }
  .header .header-mob__btn {
    display: block;
    z-index: 1000;
  }
  .header .header-mob__btn .header-button__open.active {
    display: none;
  }
  .header .header-mob__btn .header-button__close {
    display: none;
  }
  .header .header-mob__btn .header-button__close.active {
    display: block;
  }
}

@media (max-width: 490.98px) {
  .header .header-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    overflow: hidden;
  }
  .header .header__button {
    margin-right: 15px;
  }
  .header .header__button .header__btn {
    padding: 8.5px 27px;
  }
}

/*Home block style start*/
.home .home__container {
  margin-top: 77px;
}

.home .home__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .home__info .home-block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.home .home__info .home-block-title .home-title {
  font-weight: 600;
  font-size: 49px;
  line-height: 62px;
  letter-spacing: 0.005em;
  color: #37434E;
}

.home .home__info .home-text {
  margin-top: 20px;
  color: #4D5B67;
  letter-spacing: 0.01em;
  line-height: 24px;
  max-width: 623px;
  text-align: center;
}

.home .home__info .home-text span {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.home .home__info .home-btn {
  display: block;
  width: 229px;
  margin-top: 41px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
  background: #8276ff;
  padding: 14px 39px;
  -webkit-box-shadow: 0px 4.07788px 14.2726px rgba(130, 118, 255, 0.3);
          box-shadow: 0px 4.07788px 14.2726px rgba(130, 118, 255, 0.3);
  border-radius: 31px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #8276ff;
}

.home .home__info .home-btn:hover {
  background: none;
  color: #8276ff;
}

.home .home__info .home-textarea {
  margin-top: 12px;
  color: #FFBE5B;
  font-size: 14px;
  line-height: 18px;
}

.home .home__img {
  margin-top: 78px;
}

.home .home__img img {
  max-width: 100%;
}

@media (max-width: 425.98px) {
  .home .home__info .home-block-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .home .home__info .home-block-title .home-title {
    font-weight: 600;
    font-size: 42px;
    line-height: 62px;
    letter-spacing: 0.005em;
    color: #37434E;
  }
}

/* Amount block style start*/
.amount .amount__container {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 115px;
}

.amount .amount__img img {
  max-width: 100%;
}

.amount .amount__info {
  margin-top: 40px;
}

.amount .amount__info .amount-title {
  font-weight: 600;
  font-size: 39px;
  line-height: 49px;
  letter-spacing: 0.005em;
}

.amount .amount__info .amount-text-one {
  max-width: 545px;
  line-height: 24px;
  letter-spacing: 0.01em;
  margin-top: 41px;
}

.amount .amount__info .amount-text-two {
  max-width: 545px;
  line-height: 24px;
  letter-spacing: 0.01em;
  margin-top: 20px;
}

@media (max-width: 992.98px) {
  .amount .amount__container {
    margin-top: 45px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
  .amount .amount__info .amount-text-one {
    max-width: none;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-top: 41px;
  }
  .amount .amount__info .amount-text-two {
    max-width: none;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-top: 20px;
  }
}

/* Information block style start*/
.information {
  background: rgba(99, 133, 253, 0.7);
}

.information .information__container {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 170px;
}

.information .information__info .information-title {
  font-weight: 600;
  font-size: 39px;
  line-height: 49px;
  letter-spacing: 0.005em;
  color: #fff;
  margin-bottom: 41px;
  max-width: 478px;
}

.information .information__info .information-text {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  margin-top: 20px;
}

.information .information__info .information-text:nth-last-child(1) {
  font-size: 14.1px;
  margin: 20px 0px -5px -15px;
  max-width: 485px;
  padding: 10px 14px;
}

.information .information__info .information-text:nth-last-child(2) {
  max-width: 472px;
}

.information .information__info .information-text:nth-last-child(3) {
  max-width: 445px;
}

.information .information__info .information-text span {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.information .information__info .information-text-border {
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

.information .information__img img {
  max-width: 100%;
}

@media (max-width: 1100.98px) {
  .information .information__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .information .information__info .information-title {
    margin-top: 25px;
    font-size: 30px;
    max-width: none;
  }
  .information .information__info .information-text:nth-last-child(1) {
    font-size: 16px;
    margin: 20px 0px 0px -5px;
    max-width: none;
    padding: 10px 14px;
  }
  .information .information__info .information-text:nth-last-child(2) {
    max-width: none;
  }
  .information .information__info .information-text:nth-last-child(3) {
    max-width: none;
  }
}

@media (max-width: 425.98px) {
  .information .information__info .information-title {
    font-size: 30px;
  }
  .information .information__info .information-text:nth-last-child(1) {
    font-size: 16px;
    margin: 20px 0px 0px 0px;
    max-width: none;
    padding: 0;
  }
  .information .information__info .information-text-border {
    border: none;
  }
}

/*Workspace block style start*/
.workspace .workspace__container {
  margin-top: 135px;
}

.workspace .workspace__top .workspace-top-textarea {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFBE5B;
  text-transform: uppercase;
}

.workspace .workspace__top .workspace-top-title {
  margin-top: 13px;
  font-weight: 600;
  font-size: 39px;
  line-height: 49px;
  letter-spacing: 0.005em;
  color: #37434E;
  text-align: center;
}

.workspace .workspace__bottom {
  margin-top: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 146px;
}

.workspace .workspace__bottom .workspace__bottom-blocks {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 437px;
          flex: 0 0 437px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 34px;
}

.workspace .workspace__bottom .workspace__bottom-blocks .workspace__bottom-block {
  display: block;
  padding: 10px 0px 10px 25px;
}

.workspace .workspace__bottom .workspace__bottom-blocks .workspace__bottom-block:nth-last-child(1) {
  height: 100%;
  border-left: 3px solid #fd779f;
}

.workspace .workspace__bottom .workspace__bottom-blocks .workspace__bottom-block:nth-last-child(2) {
  height: 100%;
  border-left: 3px solid #33dba8;
}

.workspace .workspace__bottom .workspace__bottom-blocks .workspace__bottom-block:nth-last-child(3) {
  height: 100%;
  border-left: 3px solid #6385fd;
}

.workspace .workspace__bottom .workspace__bottom-blocks .workspace__bottom-block:nth-last-child(4) {
  height: 100%;
  border-left: 3px solid #ffb546;
}

.workspace .workspace__bottom .workspace__bottom-blocks .workspace__bottom-block:nth-last-child(5) {
  height: 100%;
  border-left: 3px solid #8276ff;
}

.workspace .workspace__bottom .workspace__bottom-blocks .workspace__bottom-block .workspace__bottom-title {
  color: #37434E;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.005em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  cursor: pointer;
}

.workspace .workspace__bottom .workspace__bottom-blocks .workspace__bottom-block .workspace__bottom-text {
  color: #4D5B67;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.workspace .workspace__bottom .workspace__bottom-blocks .workspace__bottom-block .workspace__bottom-text span {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.workspace .workspace__bottom .workspace__bottom-blocks .workspace__bottom-block.active .workspace__bottom-text {
  height: 100%;
  margin-top: 20px;
}

.workspace .workspace__bottom .workspace__bottom-img {
  margin: 45px 0px 0px 0px;
}

.workspace .workspace__bottom .workspace__bottom-img img {
  max-width: 100%;
}

@media (max-width: 1100.98px) {
  .workspace .workspace__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
  .workspace .workspace__bottom .workspace__bottom-blocks {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .workspace .workspace__bottom .workspace__bottom-img {
    margin: 15px 0px 0px 0px;
  }
  .workspace .workspace__bottom .workspace__bottom-img img {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */